Wed Feb 12 17:27:46 2014<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<CAPTION ALIGN="top"> CISs for scale 30000 </CAPTION>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH> <TH> details </TH>  </TR>
  <TR> <TD align="right"> CIS18:34430572_30k </TD> <TD> chr18 </TD> <TD align="right"> 34430572 </TD> <TD align="right">  41 </TD> <TD align="right"> 34334738 </TD> <TD align="right"> 34511885 </TD> <TD align="right"> 177148 </TD> <TD align="right">  63 </TD> <TD align="right">   0 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000014503 </TD> <TD> ENSMUSG00000036501|ENSMUSG00000005873|ENSMUSG00000084467|ENSMUSG00000014504|ENSMUSG00000005871|ENSMUSG00000012282|ENSMUSG00000035984|ENSMUSG00000049357|ENSMUSG00000003778 </TD> <TD> Pkd2l2 </TD> <TD> Fam13b|Reep5|n-R5s24|Srp19|Apc|Wnt8a|Nme5|4933408B17Rik|Brd8 </TD> <TD> <a href='details_files/details3.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:7899203_30k </TD> <TD> chr18 </TD> <TD align="right"> 7899203 </TD> <TD align="right">  11 </TD> <TD align="right"> 7858546 </TD> <TD align="right"> 7936955 </TD> <TD align="right"> 78410 </TD> <TD align="right">  13 </TD> <TD align="right">   0 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000024283 </TD> <TD> ENSMUSG00000091019|ENSMUSG00000064822 </TD> <TD> Wac </TD> <TD> Gm7502|Gm24292 </TD> <TD> <a href='details_files/details5.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:50077575_30k </TD> <TD> chr18 </TD> <TD align="right"> 50077575 </TD> <TD align="right"> 6.8 </TD> <TD align="right"> 50057246 </TD> <TD align="right"> 50092095 </TD> <TD align="right"> 34850 </TD> <TD align="right">   8 </TD> <TD align="right">   0 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000062210 </TD> <TD> ENSMUSG00000086600|ENSMUSG00000094040|ENSMUSG00000024507|ENSMUSG00000085939|ENSMUSG00000037416 </TD> <TD> Tnfaip8 </TD> <TD> C030005K06Rik|Tnfaip8|Hsd17b4|Cd63-ps|Dmxl1 </TD> <TD> <a href='details_files/details8.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:35722873_30k </TD> <TD> chr18 </TD> <TD align="right"> 35722873 </TD> <TD align="right"> 5.7 </TD> <TD align="right"> 35708352 </TD> <TD align="right"> 35728681 </TD> <TD align="right"> 20330 </TD> <TD align="right">   6 </TD> <TD align="right"> 2.1e-06 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000073598 </TD> <TD> ENSMUSG00000073599|ENSMUSG00000024349|ENSMUSG00000024350|ENSMUSG00000091842|ENSMUSG00000091896|ENSMUSG00000024352|ENSMUSG00000073600|ENSMUSG00000024353|ENSMUSG00000024354|ENSMUSG00000037058 </TD> <TD> 1700066B19Rik </TD> <TD> Ecscr|Tmem173|Dnajc18|Gm16490|Ube2d2a|Spata24|Prob1|Mzb1|Slc23a1|Paip2 </TD> <TD> <a href='details_files/details9.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:64728489_30k </TD> <TD> chr18 </TD> <TD align="right"> 64728489 </TD> <TD align="right"> 5.8 </TD> <TD align="right"> 64716873 </TD> <TD align="right"> 64737202 </TD> <TD align="right"> 20330 </TD> <TD align="right">   7 </TD> <TD align="right"> 3.1e-06 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000095778 </TD> <TD> ENSMUSG00000088304|ENSMUSG00000039529 </TD> <TD> Gm23016 </TD> <TD> Gm24504|Atp8b1 </TD> <TD> <a href='details_files/details10.html'>details</a> </TD> </TR>
   </TABLE>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<CAPTION ALIGN="top"> CISs for scale 50000 </CAPTION>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH> <TH> details </TH>  </TR>
  <TR> <TD align="right"> CIS18:34427530_50k </TD> <TD> chr18 </TD> <TD align="right"> 34427530 </TD> <TD align="right">  50 </TD> <TD align="right"> 34277281 </TD> <TD align="right"> 34548698 </TD> <TD align="right"> 271418 </TD> <TD align="right">  64 </TD> <TD align="right">   0 </TD> <TD align="right"> 50000 </TD> <TD> ENSMUSG00000014503 </TD> <TD> ENSMUSG00000036501|ENSMUSG00000005873|ENSMUSG00000084467|ENSMUSG00000014504|ENSMUSG00000005871|ENSMUSG00000012282|ENSMUSG00000035984|ENSMUSG00000049357|ENSMUSG00000003778|ENSMUSG00000003779|ENSMUSG00000024370|ENSMUSG00000073607|ENSMUSG00000064857|ENSMUSG00000096804 </TD> <TD> Pkd2l2 </TD> <TD> Fam13b|Reep5|n-R5s24|Srp19|Apc|Wnt8a|Nme5|4933408B17Rik|Brd8|Kif20a|Cdc23|Gm10548|n-R5s25|Gm23411 </TD> <TD> <a href='details_files/details2.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:7901316_50k </TD> <TD> chr18 </TD> <TD align="right"> 7901316 </TD> <TD align="right">  12 </TD> <TD align="right"> 7843155 </TD> <TD align="right"> 7954631 </TD> <TD align="right"> 111477 </TD> <TD align="right">  13 </TD> <TD align="right">   0 </TD> <TD align="right"> 50000 </TD> <TD> ENSMUSG00000024283 </TD> <TD> ENSMUSG00000091019|ENSMUSG00000064822 </TD> <TD> Wac </TD> <TD> Gm7502|Gm24292 </TD> <TD> <a href='details_files/details6.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:50077657_50k </TD> <TD> chr18 </TD> <TD align="right"> 50077657 </TD> <TD align="right"> 7.5 </TD> <TD align="right"> 50043729 </TD> <TD align="right"> 50101890 </TD> <TD align="right"> 58162 </TD> <TD align="right">   9 </TD> <TD align="right">   0 </TD> <TD align="right"> 50000 </TD> <TD> ENSMUSG00000062210 </TD> <TD> ENSMUSG00000086600|ENSMUSG00000094040|ENSMUSG00000024507|ENSMUSG00000085939|ENSMUSG00000037416 </TD> <TD> Tnfaip8 </TD> <TD> C030005K06Rik|Tnfaip8|Hsd17b4|Cd63-ps|Dmxl1 </TD> <TD> <a href='details_files/details7.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:64729355_50k </TD> <TD> chr18 </TD> <TD align="right"> 64729355 </TD> <TD align="right"> 6.5 </TD> <TD align="right"> 64709968 </TD> <TD align="right"> 64734201 </TD> <TD align="right"> 24234 </TD> <TD align="right">   7 </TD> <TD align="right"> 2.6e-05 </TD> <TD align="right"> 50000 </TD> <TD> ENSMUSG00000095778 </TD> <TD> ENSMUSG00000088304|ENSMUSG00000039529 </TD> <TD> Gm23016 </TD> <TD> Gm24504|Atp8b1 </TD> <TD> <a href='details_files/details11.html'>details</a> </TD> </TR>
   </TABLE>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<CAPTION ALIGN="top"> CISs for scale 70000 </CAPTION>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH> <TH> details </TH>  </TR>
  <TR> <TD align="right"> CIS18:34425497_70k </TD> <TD> chr18 </TD> <TD align="right"> 34425497 </TD> <TD align="right">  55 </TD> <TD align="right"> 34242038 </TD> <TD align="right"> 34588571 </TD> <TD align="right"> 346534 </TD> <TD align="right">  65 </TD> <TD align="right">   0 </TD> <TD align="right"> 70000 </TD> <TD> ENSMUSG00000014503 </TD> <TD> ENSMUSG00000036501|ENSMUSG00000005873|ENSMUSG00000084467|ENSMUSG00000014504|ENSMUSG00000005871|ENSMUSG00000012282|ENSMUSG00000035984|ENSMUSG00000049357|ENSMUSG00000003778|ENSMUSG00000003779|ENSMUSG00000073607|ENSMUSG00000024370|ENSMUSG00000064857|ENSMUSG00000096804 </TD> <TD> Pkd2l2 </TD> <TD> Fam13b|Reep5|n-R5s24|Srp19|Apc|Wnt8a|Nme5|4933408B17Rik|Brd8|Kif20a|Gm10548|Cdc23|n-R5s25|Gm23411 </TD> <TD> <a href='details_files/details1.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:7898729_70k </TD> <TD> chr18 </TD> <TD align="right"> 7898729 </TD> <TD align="right">  12 </TD> <TD align="right"> 7830781 </TD> <TD align="right"> 7966676 </TD> <TD align="right"> 135896 </TD> <TD align="right">  14 </TD> <TD align="right">   0 </TD> <TD align="right"> 70000 </TD> <TD> ENSMUSG00000024283 </TD> <TD> ENSMUSG00000091019|ENSMUSG00000064822 </TD> <TD> Wac </TD> <TD> Gm7502|Gm24292 </TD> <TD> <a href='details_files/details4.html'>details</a> </TD> </TR>
  <TR> <TD align="right"> CIS18:73841937_70k </TD> <TD> chr18 </TD> <TD align="right"> 73841937 </TD> <TD align="right"> 7.6 </TD> <TD align="right"> 73807963 </TD> <TD align="right"> 73875910 </TD> <TD align="right"> 67948 </TD> <TD align="right">  14 </TD> <TD align="right"> 7.9e-05 </TD> <TD align="right"> 70000 </TD> <TD> ENSMUSG00000064036 </TD> <TD> ENSMUSG00000024556|ENSMUSG00000024558|ENSMUSG00000036941 </TD> <TD> Mro </TD> <TD> Me2|Mapk4|Elac1 </TD> <TD> <a href='details_files/details12.html'>details</a> </TD> </TR>
   </TABLE>
	Data: colorectal </br>
	Chromosomes: chr18 </br>
	Scales: 30000, 50000, 70000 </br>
	System: SB </br>
	Specificity pattern: TA </br>
	Local hopping correction: none </br>
	Number of iterations: 100 </br>
	Sample period: 0.1 </br>
	Maximum sample points: 524288 </br>
	Alpha: 0.05 </br>
	Multiple testing: TRUE </br>
	Number of CISs: 12 </br></br>

