<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:45 2014 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH>  </TR>
  <TR> <TD align="right"> CIS18:34427530_50k </TD> <TD> chr18 </TD> <TD align="right"> 34427530 </TD> <TD align="right">  50 </TD> <TD align="right"> 34277281 </TD> <TD align="right"> 34548698 </TD> <TD align="right"> 271418 </TD> <TD align="right">  64 </TD> <TD align="right">   0 </TD> <TD align="right"> 50000 </TD> <TD> ENSMUSG00000014503 </TD> <TD> ENSMUSG00000036501|ENSMUSG00000005873|ENSMUSG00000084467|ENSMUSG00000014504|ENSMUSG00000005871|ENSMUSG00000012282|ENSMUSG00000035984|ENSMUSG00000049357|ENSMUSG00000003778|ENSMUSG00000003779|ENSMUSG00000024370|ENSMUSG00000073607|ENSMUSG00000064857|ENSMUSG00000096804 </TD> <TD> Pkd2l2 </TD> <TD> Fam13b|Reep5|n-R5s24|Srp19|Apc|Wnt8a|Nme5|4933408B17Rik|Brd8|Kif20a|Cdc23|Gm10548|n-R5s25|Gm23411 </TD> </TR>
   </TABLE>
</br><a href='http://www.ensembl.org/Mus_musculus/Location/View?r=18:34277281-34548698'>View</a> in Ensembl Genome Browser</br></br>
<img src='../images/cis2.png' /></br>
	Blue line: kernel smoothed estimate</br>
	Green line: 'specificity pattern'-density</br>
	Red line: significance threshold</br>
	Dotted red line: significance threshold after multiple testing correction</br>
	Red circle: peaks location</br>
	Colored vertical lines: insertion locations color-coded by tumor or sample</br></br>

<img src='../images/scale_space2.png' /></br>
Insertions located in the CIS:</br>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:45 2014 -->
<TABLE border=1>
<TR> <TH> sampleID </TH> <TH> tissueType </TH> <TH> tissueID </TH> <TH> chr </TH> <TH> location </TH> <TH> associatedGene </TH> <TH> cohort </TH> <TH> contig_depth </TH>  </TR>
  <TR> <TD> S10709 </TD> <TD> Cec </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34238164 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34271958 </TD> <TD>  </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34302449 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34302451 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10339 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34312096 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34380059 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34383059 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34387190 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Ile </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34388891 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10756 </TD> <TD> Int </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 34389907 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34390400 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10397 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34390863 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S358 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34391222 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34391226 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S299 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34394829 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10339 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34395221 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S299 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34396727 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10339 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34398932 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10689 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34405057 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10339 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34405063 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S11417 </TD> <TD> Jej </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34406273 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S11417 </TD> <TD> Jej </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34406886 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 34409548 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 34409932 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10756 </TD> <TD> Int </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 34416208 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10098 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34417325 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10384 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34425028 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9900 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34426717 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34426928 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S299 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34427669 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10074 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34427796 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10074 </TD> <TD> Ile </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34427796 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Ile </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34427961 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S470 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34429980 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9859 </TD> <TD> Jej </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34430425 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S299 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34430762 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Ile </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34432625 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Ile </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34433280 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9830 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34433716 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S292 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34433812 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10640 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34438438 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34439174 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10631 </TD> <TD> Int </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34440646 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34442742 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10640 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34446344 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S358 </TD> <TD> Duo </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 34446887 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S358 </TD> <TD> Duo </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 34448995 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10631 </TD> <TD> Int </TD> <TD> G </TD> <TD> chr18 </TD> <TD align="right"> 34453504 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10631 </TD> <TD> Int </TD> <TD> E </TD> <TD> chr18 </TD> <TD align="right"> 34454308 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34458666 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10397 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34458876 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34459191 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34459191 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34459747 </TD> <TD> Apc </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34460001 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34460225 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10712 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34465705 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34466295 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34466418 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10709 </TD> <TD> Cec </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34466683 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10709 </TD> <TD> Cec </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34471151 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10339 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 34472006 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10884 </TD> <TD> Duo </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 34494568 </TD> <TD> Apc </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 34571672 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
   </TABLE>
