<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH>  </TR>
  <TR> <TD align="right"> CIS18:64728489_30k </TD> <TD> chr18 </TD> <TD align="right"> 64728489 </TD> <TD align="right"> 5.8 </TD> <TD align="right"> 64716873 </TD> <TD align="right"> 64737202 </TD> <TD align="right"> 20330 </TD> <TD align="right">   7 </TD> <TD align="right"> 3.1e-06 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000095778 </TD> <TD> ENSMUSG00000088304|ENSMUSG00000039529 </TD> <TD> Gm23016 </TD> <TD> Gm24504|Atp8b1 </TD> </TR>
   </TABLE>
</br><a href='http://www.ensembl.org/Mus_musculus/Location/View?r=18:64716873-64737202'>View</a> in Ensembl Genome Browser</br></br>
<img src='../images/cis10.png' /></br>
	Blue line: kernel smoothed estimate</br>
	Green line: 'specificity pattern'-density</br>
	Red line: significance threshold</br>
	Dotted red line: significance threshold after multiple testing correction</br>
	Red circle: peaks location</br>
	Colored vertical lines: insertion locations color-coded by tumor or sample</br></br>

<img src='../images/scale_space10.png' /></br>
Insertions located in the CIS:</br>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH> sampleID </TH> <TH> tissueType </TH> <TH> tissueID </TH> <TH> chr </TH> <TH> location </TH> <TH> associatedGene </TH> <TH> cohort </TH> <TH> contig_depth </TH>  </TR>
  <TR> <TD> S9859 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 64697316 </TD> <TD> Atp8b1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 64709235 </TD> <TD> Atp8b1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S11617 </TD> <TD> Int </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 64720480 </TD> <TD> Atp8b1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10816 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 64727826 </TD> <TD> Atp8b1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10382 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 64741189 </TD> <TD> Atp8b1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S357 </TD> <TD> Int </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 64745469 </TD> <TD> Atp8b1 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 64753894 </TD> <TD> Atp8b1 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
   </TABLE>
