<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH>  </TR>
  <TR> <TD align="right"> CIS18:35722873_30k </TD> <TD> chr18 </TD> <TD align="right"> 35722873 </TD> <TD align="right"> 5.7 </TD> <TD align="right"> 35708352 </TD> <TD align="right"> 35728681 </TD> <TD align="right"> 20330 </TD> <TD align="right">   6 </TD> <TD align="right"> 2.1e-06 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000073598 </TD> <TD> ENSMUSG00000073599|ENSMUSG00000024349|ENSMUSG00000024350|ENSMUSG00000091842|ENSMUSG00000091896|ENSMUSG00000024352|ENSMUSG00000073600|ENSMUSG00000024353|ENSMUSG00000024354|ENSMUSG00000037058 </TD> <TD> 1700066B19Rik </TD> <TD> Ecscr|Tmem173|Dnajc18|Gm16490|Ube2d2a|Spata24|Prob1|Mzb1|Slc23a1|Paip2 </TD> </TR>
   </TABLE>
</br><a href='http://www.ensembl.org/Mus_musculus/Location/View?r=18:35708352-35728681'>View</a> in Ensembl Genome Browser</br></br>
<img src='../images/cis9.png' /></br>
	Blue line: kernel smoothed estimate</br>
	Green line: 'specificity pattern'-density</br>
	Red line: significance threshold</br>
	Dotted red line: significance threshold after multiple testing correction</br>
	Red circle: peaks location</br>
	Colored vertical lines: insertion locations color-coded by tumor or sample</br></br>

<img src='../images/scale_space9.png' /></br>
Insertions located in the CIS:</br>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH> sampleID </TH> <TH> tissueType </TH> <TH> tissueID </TH> <TH> chr </TH> <TH> location </TH> <TH> associatedGene </TH> <TH> cohort </TH> <TH> contig_depth </TH>  </TR>
  <TR> <TD> S10756 </TD> <TD> Int </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 35704589 </TD> <TD> Matr3 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 35717225 </TD> <TD> Matr3 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10677 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 35718956 </TD> <TD> Matr3 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Jej </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 35728119 </TD> <TD> Matr3 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9972 </TD> <TD> Jej </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 35729329 </TD> <TD> Matr3 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S11617 </TD> <TD> Int </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 35736220 </TD> <TD> Matr3 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
   </TABLE>
