<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH>  </TR>
  <TR> <TD align="right"> CIS18:73841937_70k </TD> <TD> chr18 </TD> <TD align="right"> 73841937 </TD> <TD align="right"> 7.6 </TD> <TD align="right"> 73807963 </TD> <TD align="right"> 73875910 </TD> <TD align="right"> 67948 </TD> <TD align="right">  14 </TD> <TD align="right"> 7.9e-05 </TD> <TD align="right"> 70000 </TD> <TD> ENSMUSG00000064036 </TD> <TD> ENSMUSG00000024556|ENSMUSG00000024558|ENSMUSG00000036941 </TD> <TD> Mro </TD> <TD> Me2|Mapk4|Elac1 </TD> </TR>
   </TABLE>
</br><a href='http://www.ensembl.org/Mus_musculus/Location/View?r=18:73807963-73875910'>View</a> in Ensembl Genome Browser</br></br>
<img src='../images/cis12.png' /></br>
	Blue line: kernel smoothed estimate</br>
	Green line: 'specificity pattern'-density</br>
	Red line: significance threshold</br>
	Dotted red line: significance threshold after multiple testing correction</br>
	Red circle: peaks location</br>
	Colored vertical lines: insertion locations color-coded by tumor or sample</br></br>

<img src='../images/scale_space12.png' /></br>
Insertions located in the CIS:</br>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH> sampleID </TH> <TH> tissueType </TH> <TH> tissueID </TH> <TH> chr </TH> <TH> location </TH> <TH> associatedGene </TH> <TH> cohort </TH> <TH> contig_depth </TH>  </TR>
  <TR> <TD> S10756 </TD> <TD> Int </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73691269 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9859 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73717147 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73745650 </TD> <TD>  </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10382 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73750475 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Duo </TD> <TD> L </TD> <TD> chr18 </TD> <TD align="right"> 73820770 </TD> <TD> Smad4 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Duo </TD> <TD> J </TD> <TD> chr18 </TD> <TD align="right"> 73830717 </TD> <TD> Smad4 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73831955 </TD> <TD> Smad4 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73855181 </TD> <TD> Smad4 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Duo </TD> <TD> J </TD> <TD> chr18 </TD> <TD align="right"> 73860099 </TD> <TD> Smad4 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10384 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73894860 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10640 </TD> <TD> Cec </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 73929345 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9859 </TD> <TD> Jej </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 73946223 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 74025254 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10741 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 74072087 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
   </TABLE>
