<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH>  </TR>
  <TR> <TD align="right"> CIS18:50077575_30k </TD> <TD> chr18 </TD> <TD align="right"> 50077575 </TD> <TD align="right"> 6.8 </TD> <TD align="right"> 50057246 </TD> <TD align="right"> 50092095 </TD> <TD align="right"> 34850 </TD> <TD align="right">   8 </TD> <TD align="right">   0 </TD> <TD align="right"> 30000 </TD> <TD> ENSMUSG00000062210 </TD> <TD> ENSMUSG00000086600|ENSMUSG00000094040|ENSMUSG00000024507|ENSMUSG00000085939|ENSMUSG00000037416 </TD> <TD> Tnfaip8 </TD> <TD> C030005K06Rik|Tnfaip8|Hsd17b4|Cd63-ps|Dmxl1 </TD> </TR>
   </TABLE>
</br><a href='http://www.ensembl.org/Mus_musculus/Location/View?r=18:50057246-50092095'>View</a> in Ensembl Genome Browser</br></br>
<img src='../images/cis8.png' /></br>
	Blue line: kernel smoothed estimate</br>
	Green line: 'specificity pattern'-density</br>
	Red line: significance threshold</br>
	Dotted red line: significance threshold after multiple testing correction</br>
	Red circle: peaks location</br>
	Colored vertical lines: insertion locations color-coded by tumor or sample</br></br>

<img src='../images/scale_space8.png' /></br>
Insertions located in the CIS:</br>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:46 2014 -->
<TABLE border=1>
<TR> <TH> sampleID </TH> <TH> tissueType </TH> <TH> tissueID </TH> <TH> chr </TH> <TH> location </TH> <TH> associatedGene </TH> <TH> cohort </TH> <TH> contig_depth </TH>  </TR>
  <TR> <TD> S10887 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 50050865 </TD> <TD> Dmxl1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10382 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 50057751 </TD> <TD> Dmxl1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10756 </TD> <TD> Int </TD> <TD> G </TD> <TD> chr18 </TD> <TD align="right"> 50069222 </TD> <TD> Dmxl1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 50074273 </TD> <TD> Dmxl1 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 50080813 </TD> <TD> Dmxl1 </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 50085638 </TD> <TD> Dmxl1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S9859 </TD> <TD> Jej </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 50092412 </TD> <TD> Dmxl1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10320 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 50110350 </TD> <TD> Dmxl1 </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
   </TABLE>
