<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:45 2014 -->
<TABLE border=1>
<TR> <TH>  </TH> <TH> chromosome </TH> <TH> peak_location </TH> <TH> peak_height </TH> <TH> start </TH> <TH> end </TH> <TH> width </TH> <TH> n_insertions </TH> <TH> p_value </TH> <TH> scale </TH> <TH> associated_ensembl_gene_id </TH> <TH> other_ensembl_gene_id </TH> <TH> associated_external_gene_id </TH> <TH> other_external_gene_id </TH>  </TR>
  <TR> <TD align="right"> CIS18:7898729_70k </TD> <TD> chr18 </TD> <TD align="right"> 7898729 </TD> <TD align="right">  12 </TD> <TD align="right"> 7830781 </TD> <TD align="right"> 7966676 </TD> <TD align="right"> 135896 </TD> <TD align="right">  14 </TD> <TD align="right">   0 </TD> <TD align="right"> 70000 </TD> <TD> ENSMUSG00000024283 </TD> <TD> ENSMUSG00000091019|ENSMUSG00000064822 </TD> <TD> Wac </TD> <TD> Gm7502|Gm24292 </TD> </TR>
   </TABLE>
</br><a href='http://www.ensembl.org/Mus_musculus/Location/View?r=18:7830781-7966676'>View</a> in Ensembl Genome Browser</br></br>
<img src='../images/cis4.png' /></br>
	Blue line: kernel smoothed estimate</br>
	Green line: 'specificity pattern'-density</br>
	Red line: significance threshold</br>
	Dotted red line: significance threshold after multiple testing correction</br>
	Red circle: peaks location</br>
	Colored vertical lines: insertion locations color-coded by tumor or sample</br></br>

<img src='../images/scale_space4.png' /></br>
Insertions located in the CIS:</br>
<!-- html table generated in R 2.15.2 by xtable 1.7-0 package -->
<!-- Wed Feb 12 17:27:45 2014 -->
<TABLE border=1>
<TR> <TH> sampleID </TH> <TH> tissueType </TH> <TH> tissueID </TH> <TH> chr </TH> <TH> location </TH> <TH> associatedGene </TH> <TH> cohort </TH> <TH> contig_depth </TH>  </TR>
  <TR> <TD> S10631 </TD> <TD> Int </TD> <TD> C </TD> <TD> chr18 </TD> <TD align="right"> 7711138 </TD> <TD>  </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7874331 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Duo </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 7882866 </TD> <TD> Wac </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S633 </TD> <TD> Jej </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 7885206 </TD> <TD> Wac </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S550 </TD> <TD> Col </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7887669 </TD> <TD> Wac </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10744 </TD> <TD> Jej </TD> <TD> B </TD> <TD> chr18 </TD> <TD align="right"> 7891707 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10756 </TD> <TD> Int </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 7900234 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S360 </TD> <TD> Jej </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7903471 </TD> <TD> Wac </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10075 </TD> <TD> Ile </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7906728 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S299 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7908643 </TD> <TD> Wac </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10677 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7908686 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S556 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7909243 </TD> <TD> Wac </TD> <TD align="right">   1 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10711 </TD> <TD> Duo </TD> <TD> A </TD> <TD> chr18 </TD> <TD align="right"> 7915418 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
  <TR> <TD> S10719 </TD> <TD> Ile </TD> <TD> D </TD> <TD> chr18 </TD> <TD align="right"> 7972740 </TD> <TD> Wac </TD> <TD align="right">   2 </TD> <TD align="right"> 1.00 </TD> </TR>
   </TABLE>
